<!DOCTYPE html>
<html lang="es">

<head>
    <title>Supervisores</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="../../css/normalize.css">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/style.css">
</head>

<body >
    <div id="navegacion-supervisorCliente">

    <div class="container">
        <div class="page-header">
            <h1 class="all-tittles">Sistema bibliotecario <small>Administración Usuarios</small></h1>
        </div>
    </div>

    <div class="conteiner-fluid">
        <ul class="nav nav-tabs nav-justified" style="font-size: 17px;">
            <li id="nav-supervisores" role="presentation" class="active"><a>Supervisores</a></li>
            <li id="nav-clientes" role="presentation"><a>Clientes</a></li>
        </ul>
    </div>
    <div class="container-fluid" style="margin: 50px 0;">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-3">
                <img src="../../assets/img/user05.png" alt="user" class="img-responsive center-box"
                    style="max-width: 110px;">
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8 text-justify lead">
                Bienvenido a la sección para registrar un supervisor nuevo. Para registrar el personal
                administrativo debes de llenar todos los campos del siguiente formulario.
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 lead">
                <ol class="breadcrumb">
                    <li class="active">Nuevo Supervisor</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="container-flat-form">
            <div class="title-flat-form title-flat-red">Registrar un nuevo supervisor</div>
            <form autocomplete="off">
                <div class="row">
                    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                        <div class="group-material">
                            <input type="text" class="material-control tooltips-general input-check-user"
                                placeholder="Nombre de usuario" required="" maxlength="20"
                                pattern="[a-zA-Z0-9áéíóúÁÉÍÓÚñÑ]{1,20}" data-toggle="tooltip" data-placement="top"
                                title="Escribe un nombre de usuario sin espacios, que servira para iniciar sesión">
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Nombre de usuario</label>
                        </div>
                        <div class="group-material">
                            <input type="password" class="material-control tooltips-general" placeholder="Contraseña"
                                required="" maxlength="200" data-toggle="tooltip" data-placement="top"
                                title="Escribe una contraseña">
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Contraseña</label>
                        </div>
                        <div class="group-material">
                            <input type="password" class="material-control tooltips-general"
                                placeholder="Repite la contraseña" required="" maxlength="200" data-toggle="tooltip"
                                data-placement="top" title="Repite la contraseña">
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Repetir contraseña</label>
                        </div>
                        <p class="text-center">
                            <button type="reset" class="btn btn-info" style="margin-right: 20px;"><i
                                    class="zmdi zmdi-roller"></i> &nbsp;&nbsp; Limpiar</button>
                            <button id="guardarBtn" type="submit" class="btn btn-primary"><i class="zmdi zmdi-floppy"></i> &nbsp;&nbsp;
                                Guardar</button>
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
    
    <script src="/views/newSupervisor/newSupervisor.js"></script>
</body>

</html>