<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="../../css/normalize.css">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/style.css">
   
</head>
<body>
    <div id="homeElements">
        <div class="container">
            <div class="page-header">
              <h1 class="all-tittles"> Inicio</h1>
            </div>
        <section class="full-reset text-center" style="padding: 40px;" >
            <article  id="admin" class="tile">
                <div class="tile-icon full-reset"><i class="zmdi zmdi-face"></i></div>
                <div class="tile-name all-tittles" >administradores
                </div>
                <div class="tile-num full-reset" id="adminValue">0</div>
                
            </article>
            <article id="client" class="tile" >
                <div class="tile-icon full-reset"><i class="zmdi zmdi-male-alt"></i></div>
                <div class="tile-name all-tittles" >clientes</div>
                <div class="tile-num full-reset" id="clientValue">0</div>
            </article>
            <article id="supervisor" class="tile" >
                <div class="tile-icon full-reset"><i class="zmdi zmdi-male-female"></i></div>
                <div class="tile-name all-tittles" style="width: 90%;" >Supervisores</div>
                <div class="tile-num full-reset" id="supervisorValue">0</div>
            </article>
            <article id="book" class="tile" >
                <div class="tile-icon full-reset"><i class="zmdi zmdi-book"></i></div>
                <div class="tile-name all-tittles" >libros</div>
                <div class="tile-num full-reset" id="bookValue">0</div>
            </article>
            <article id="loanPending" class="tile" >
                <div  class="tile-icon full-reset"><i class="zmdi zmdi-time-restore"></i></div>
                <div class="tile-name all-tittles" style="width: 90%;" >devoluciones pendientes</div>
                <div class="tile-num full-reset" id="loanPendingValue">0</div>
            </article>
            <article id="loan" class="tile">
                <div  class="tile-icon full-reset"><i class="zmdi zmdi-calendar"></i></div>
                <div class="tile-name all-tittles" >préstamos</div>
                <div class="tile-num full-reset" id="loanValue">0</div>
            </article>
            <article id="report" class="tile" >
                <div class="tile-icon full-reset"><i class="zmdi zmdi-trending-up"></i></div>
                <div class="tile-name all-tittles" style="width: 90%;" >reportes y estadísticas</div>
                <div class="tile-num full-reset">&nbsp;</div>
            </article>
        </section>
        
    </div>
        
    <script src="/views/home/homeElements/homeElements.js"></script>
    <script src="/js/cantidadElements.js"></script>
</body>
</html>