<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="../../css/normalize.css">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/style.css">
   
</head>
<body>
        <div class="container">
            <div class="page-header">
              <h1 class="all-tittles"> Inicio</h1>
            </div>
        <section class="full-reset text-center" style="padding: 40px;" >
            <article class="tile" onclick="window.location.href='/views/admin/admin.html'" >
                <div class="tile-icon full-reset"><i class="zmdi zmdi-face"></i></div>
                <div class="tile-name all-tittles">administradores
                </div>
                <div class="tile-num full-reset">7</div>
                
            </article>
            <article class="tile" onclick="window.location.href='/views/clients/clients.html'">
                <div class="tile-icon full-reset"><i class="zmdi zmdi-male-alt"></i></div>
                <div class="tile-name all-tittles">clientes</div>
                <div class="tile-num full-reset">11</div>
            </article>
            <article class="tile" onclick="window.location.href='/views/personal/personal.html'">
                <div class="tile-icon full-reset"><i class="zmdi zmdi-male-female"></i></div>
                <div class="tile-name all-tittles" style="width: 90%;">personal administrativo</div>
                <div class="tile-num full-reset">17</div>
            </article>
            <article class="tile" onclick="window.location.href='/views/listbook/listbook.html'">
                <div class="tile-icon full-reset"><i class="zmdi zmdi-book"></i></div>
                <div class="tile-name all-tittles">libros</div>
                <div class="tile-num full-reset">77</div>
            </article>
            <article class="tile" onclick="window.location.href='/views/loanpending/loanpending.html'">
                <div class="tile-icon full-reset"><i class="zmdi zmdi-time-restore"></i></div>
                <div class="tile-name all-tittles" style="width: 90%;">devoluciones pendientes</div>
                <div class="tile-num full-reset">9</div>
            </article>
            <article class="tile" onclick="window.location.href='/views/loan/loan.html'">
                <div class="tile-icon full-reset"><i class="zmdi zmdi-calendar"></i></div>
                <div class="tile-name all-tittles">préstamos</div>
                <div class="tile-num full-reset">7</div>
            </article>
            <article class="tile" onclick="window.location.href='/views/report/report.html'">
                <div class="tile-icon full-reset"><i class="zmdi zmdi-trending-up"></i></div>
                <div class="tile-name all-tittles" style="width: 90%;">reportes y estadísticas</div>
                <div class="tile-num full-reset">&nbsp;</div>
            </article>
        </section>
        
    </div>
        
    
</body>
</html>