body{
  position:relative;
  overflow: hidden;
}
.background{
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(5px);
  position: absolute;
  top: -10px; 
  width: calc(100% + 20px); 
  height: calc(100% + 20px); 
 
}

.form-container{
    color: #000000;
    padding: 20px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.group-material-login{ 
    position:relative; 
    margin-bottom:25px; 
}
.material-login-control,
.material-control-login{
  background-color: transparent;
  font-size:17px;
  padding:10px 10px 10px 5px;
  display:block;
  width:100%;
  border:none;
  border-bottom:1px solid #000000;
  outline:none;
}
.material-login-control:focus{ outline:none; }
.group-material-login label{
  color:#000000; 
  font-size:17px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  left:5px;
  top:10px;
  transition:all 0.2s ease; 
  -moz-transition:all 0.2s ease; 
  -webkit-transition:all 0.2s ease;
}
/* Estado activo */
input.material-login-control:focus:valid ~ label,
input.material-login-control:valid ~ label{
  top:-18px;
  font-size:13px;
  color:#000000;
}
input.material-login-control:focus:invalid:required,
input.material-login-control:invalid:required{
  outline: none;
  box-shadow: none;
}
/*Barra de formularios material desing ================*/
.bar-login{ position:relative; display:block; width:100%; }
.bar-login:before, .bar-login:after     {
  content:'';
  height:2px; 
  width:0;
  bottom:1px; 
  position:absolute;
  background:#000000; 
  transition:all 0.2s ease; 
  -moz-transition:all 0.2s ease; 
  -webkit-transition:all 0.2s ease;
}
.bar-login:before { left:50%; }
.bar-login:after { right:50%; }
input.material-login-control:focus ~ .bar-login:before, input.material-login-control:focus ~ .bar-login:after {
  width:50%;
}

.btn-22,
.btn-22 *,
.btn-22 :after,
.btn-22 :before,
.btn-22:after,
.btn-22:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-22 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
  position: absolute;
  bottom: 3%;
  right: 3%;

}
.btn-22:disabled {
  cursor: default;
}
.btn-22:-moz-focusring {
  outline: auto;
}
.btn-22 svg {
  display: block;
  vertical-align: middle;
}
.btn-22 [hidden] {
  display: none;
}
.btn-22 {
  border-radius: 99rem;
  border-width: 2px;
  overflow: hidden;
  padding: 0.8rem 3rem;
  position: relative;
}
.btn-22 span {
  mix-blend-mode: difference;
}
.btn-22:before {
  aspect-ratio: 1;
  background: #fff;
  border-radius: 50%;
  content: "";
  left: -100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) scale(1);
  transform-origin: left center;
  transition: transform 0.2s ease;
  width: 100%;
}
.btn-22:hover:before {
  transform: translateY(-50%) scale(2);
}


label{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
}
.radio-inline label:hover{
    cursor: pointer;
}
select.material-control-login{
    -ms-appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: #d2d3d3 url(/login/Imagenes/iconos/SelectMaterialIndicator-white.png) no-repeat scroll right 0.75rem center / 13px 8px;
}
select.material-control-login:hover{
    cursor: pointer;
}
